<div class="about-container">
  <section @slideUpDownAnimation>
    <h1>About Me</h1>
    <p>
      As a dedicated and versatile Full Stack
      Developer, I bring a strong background in both
      front-end and back-end development, ensuring
      seamless integration and high-quality user
      experiences. With a passion for crafting
      efficient, scalable, and maintainable code, I
      have successfully delivered various projects
      using modern web technologies. My expertise
      spans Angular, React for front-end
      development, alongside Laravel backend
      framework for back-end solutions. I thrive in
      dynamic environments, collaborating closely
      with cross-functional teams to solve complex
      problems and drive innovation.
    </p>
    </section>
  </div>
  