.about-container {
  width: 80%;
  margin: auto;
 
  }
  
  .about-container h1 {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  
  .about-container h2 {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .about-container p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .about-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  