<div class="skills-container">
  <section @slideUpDownAnimation >
    <h1>Skills</h1>
    <p >
      With years of experience in the industry, we specialize in various fields including web development, design, and consulting. 
      Our approach is to understand your goals and work closely with you to achieve them effectively and efficiently.
    </p>
   
    <div *ngFor="let skill of skills" class="skill">
      <div class="skill-name">{{ skill.name }}</div>
      <div class="progress-bar">
        <div class="progress" [ngStyle]="{ 'width': skill.proficiency + '%' }"></div>
      </div>
      <div class="skill-level" appScrollFade>{{ skill.proficiency }}/100%</div>
    </div>

  </section>
</div>
  