<div class="container-fluid">
  <div class="profile-image" @slideUpDownAnimation>
    <img  src="assets/images/me.jpg" alt="profile" class="profile-img">
  </div>

  <div class="profile-info"@slideUpDownAnimation >
      <p ><br>
        <app-typewriter></app-typewriter>
       a passionate Full Stack Developer with extensive experience in building dynamic and responsive web applications. With a solid foundation in both front-end and back-end technologies, 
        I excel in creating seamless user experiences and robust server-side functionality.
      </p>
      <button mat-raised-button color="primary" (click)="openImage()">Open CV</button>
      <!-- <button type="button"  class="btn btn-primary" (click)="openDialog()">My Curriculum Vitae</button> -->
  </div>

</div>

 