/* General Styles */


.profile-image {
  flex: 0 0 auto;
  float: left;
  padding: 15px; /* Reduced padding for smaller screens */
  margin-top: 0px;
  position: relative;
}

.profile-img {
  width: 150px; /* Adjusted width for smaller screens */
  height: 190px; /* Adjusted height for smaller screens */
  border-radius: 2%;
  object-fit: cover;
  border: 1px solid #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Adjusted shadow */
  margin-top: auto;
}
button{
  margin-right: 7px;
  border-radius: 12px;

}

.profile-info {
  flex: 1;
  text-align: left;
  margin-top: 0px;
}

.profile-info h1 {
  font-size: 1.5em; /* Reduced font size */
  margin-bottom: 8px;
}

.profile-info h2 {
  font-size: 1.2em; /* Reduced font size */
  margin-bottom: 8px;
  color: #666;
}

.profile-info p {
  font-size: 18px; /* Reduced font size */
  line-height: 1.4; /* Adjusted line height */
  margin-top: 0px;
  float: none; /* Remove float for better mobile layout */
  width: 100%; /* Full width for mobile */
  text-align: left;
  padding-right: 0; /* Remove padding for mobile */
  margin-bottom: 20px;
}

/* Home Component Styles */
:host {
  display: block;
  padding: 15px; /* Reduced padding for smaller screens */
  text-align: center;
}

.fade-section {
  opacity: 0;
  transition: opacity 1s ease-out;
  margin: 30px 0; /* Adjusted margin for smaller screens */
}

h1 {
  font-size: 2em; /* Reduced font size */
  margin-bottom: 15px;
  color: #333;
}

p {
  font-size: 1em; /* Adjusted font size */
  color: black;
}

.profile-info {
  float: none; /* Remove float for better mobile layout */
  margin-top: 10px; /* Adjusted margin */
  border-radius: 8px;
  margin-left: 0; /* Remove left margin for mobile */
  position: relative;
}

button:hover {
  background-color: whitesmoke;
  color: black;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .profile-image {
    padding: 10px;
  }

  .profile-info h1 {
    font-size: 1.4em;
  }

  .profile-info h2 {
    font-size: 1.1em;
  }

  .profile-info p {
    font-size: 14px;
    padding: 5px;
    margin-top: 10px;



  }

  .profile-img {
    width: 120px;
    height: 130px;
    margin-top: 12px;
  }

  .profile-info button {
    width: 100%; /* Full width for buttons on mobile */
    margin: 5px 0; /* Vertical margin to create space between buttons */
    padding: 2px; /* Adjusted padding for better touchability */
    border-radius: 8px;
    
    
  }
}

@media (max-width: 480px) {
  .profile-info h1 {
    font-size: 1.2em;
  }

  .profile-info h2 {
    font-size: 1em;
  }

  .profile-info p {
    font-size: 12px;
  }

  .profile-img {
    width: 100px;
    height: 110px;
  }
}
