<div class="profile-container">
    <div class="profile-image">
      <img src="assets/images/me.jpg" alt="profile" class="profile-img">
    </div>
    <div class="profile-info">
      <h1>Pedro L. Yorpo Jr.</h1>
      <h2>Software Engineer</h2>
      <p>
        Hello! I'm Pedro L. Yorpo Jr., a passionate Software Engineer with a love for creating innovative solutions and tackling challenging problems. 
        Here you can find some of my recent projects, achievements, and more about what I do.
      </p>
      <p>
        Feel free to explore the different sections of my portfolio to learn more about my work and interests.
      </p>
    </div>
  </div>
  