<div class="home-introduction">
    <h1>Welcome to My Portfolio</h1>
    <p>
      Hello! I'm Pedro L. Yorpo Jr. a passionate Software Engineering with a love for creating innovative solutions and tackling challenging problems. 
      Here you can find some of my recent projects, achievements, and more about what I do.
    </p>
    <p>
      Feel free to explore the different sections of my portfolio to learn more about my work and interests.
    </p>
    <img src="assets/images/me.jpg" alt="me" class="intro-image">
  </div>
  